.icon {

  &__checkIcon {
    color: black;
    width: 14px;
    height: 8px;
    border-bottom: solid 3px currentColor;
    border-left: solid 3px currentColor;
    transform: rotate(-45deg);
    display: block;
  }

  &__closeIcon {
    color: black;
    position: relative;
    width: 21px;
    height: 21px;


    &:before{
      content: '';
      position: absolute;
      width: 21px;
      height: 1px;
      background-color: currentColor;
      transform: rotate(-45deg);
      display: block;
    }

    &:after {
      content: '';
      position: absolute;
      width: 21px;
      height: 1px;
      background-color: currentColor;
      transform: rotate(45deg);
      display: block;
    }
  }

  &__hamburger {
    color: #000;
    position: absolute;
    margin-left: 2px;
    margin-top: 10px;
    width: 17px;
    height: 1px;
    background-color: currentColor;

    &:before {
      content: '';
      position: absolute;
      top: -5px;
      left: 0;
      width: 17px;
      height: 1px;
      background-color: currentColor;
    }

    &:after {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      width: 17px;
      height: 1px;
      background-color: currentColor;
    }
  }
}




