@mixin widthSetter {
  @media (min-width: 400px) and (max-width: 768px) { width: 95%; margin: 0 auto; }
  @media (min-width: 768px) { width: 95%; margin: 0 auto; }
  @media (min-width: 992px) { width: 970px; margin: 0 auto; }
  @media (min-width: 1200px) { width: 1140px; margin: 0 auto; }
}

.container {
  @include widthSetter();
}
