.navbar {
  display: flex; 
  flex-flow: row wrap; 
  align-items: stretch; 
  margin-left: 0; 
  margin-right: 0;
  height: 64px;
  justify-content: space-between;
  margin-bottom: 1rem;
  flex-shrink: 0;

  &__brand {
    display: flex;
    justify-content: center;
    align-items: center;


    h3 {
      font-family: 'Nunito', sans-serif;
    }

  }

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
    &__link {
      margin-left: 1rem;
    }
  }




  //This is a mixin that sets the width. Find it in ./mixins.scss
  @include widthSetter();


  border-bottom-color: transparent !important;



}