.notification {
  width: 100%;
  padding-left: 1rem;
  margin-left: -8px;
  background-color: blue;;
  color: $black;
  transition: all 0.2s ease;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.75em;


  /* 
    🦊 CSS Statements that only apply on webkit-based browsers. Firefox has a weird issue with setting the height.
  */ 
  @media screen and (-webkit-min-device-pixel-ratio:0) {  
    height: 3em;
  }


  &--alert {
    background-color: #FFABA8;
  }

  &--success {
    background-color: #4cd964;
  }

  &--warning {
    background-color: #FFFC31;
  }

  &__iconContainer {
    padding-top: 1em;

    .icon {
      width: 20px;
      font-size: 20px;
      margin: 0 auto;
    }
  }

  &__body {
    p {
      max-width: 90%;
    }
  }

  &__closeContainer {

    background-color: rgba(black, 0.3);
    color: #fff;
    border: none;
    border-radius: 0;
    outline: none;
    font-size: 20px;
    padding: 1rem;
    width: 20px;
    height: 20px;
    opacity: 1;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    
    .icon {
      position: relative;
      right: 11px;
      bottom: 1px;
    }

    &:hover {
      background-color: black;
    }
  }
}


