
/* Rainbow Colors */
$color-progress-bg: #e5e9eb;

$color-green: #4cd964;
$color-turquoise: #5ac8fa;
$color-blue: #007aff;
$color-light-blue: #34aadc;
$color-purple: #5856d6;
$color-red: #ff2d55;

.progressBar {
  background-color: $color-progress-bg;
  height: 10px;
  position: relative;
  width: 100%;

  &__bar {
    width: 50%;
    background-image: linear-gradient(to right, $color-green, $color-turquoise, $color-blue, $color-light-blue, $color-purple, $color-red);
    background-size: 100%;
    height: 100%;
    position: relative;
  }

}
